.container:not(.no-top-padding-container) {
}

body {
	/*padding-top: 70px !important;*/
	background: #FED7B0;
  font: 15px arial, sans-serif;
}

h1 {
  color:darkred;
}

html, body, div.container:not(.no-full-container) {
	height: 100%;
}
.download {
	text-align: center;
}
.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.layout-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
}

.bottom-layout-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: red;
  font-weight: bold;
}

.pimg {
  display: block;

  max-width:180px;
  max-height:180px;
  min-width:180px;
  min-height:180px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

i {
  color: rgb(62, 62, 62);
}

@media only screen and (max-width : 640px) {
  .bottom-layout-container {
    flex-direction: column;
  }

  .right-column-layout-container, .left-column-layout-container {
    width: 100%;
  }

}
@media only screen and (min-width: 641px) {
  .right-column-layout-container {
    margin-left: 20px;
  }

  .left-column-layout-container {
    margin-right: 20px;

    text-align: right;
  }

  .right-column-layout-container, .left-column-layout-container {
    width: 50%;
  }

  .bottom-layout-container {
    width: 100%;
  }
}
